<div id="<%= dom_id animal %>">
  <div>
    <strong>Name:</strong>
    <%= animal.name %>
  </div>

  <div>
    <strong>Species:</strong>
    <%= animal.species %>
  </div>

  <div>
    <strong>Breed:</strong>
    <%= animal.breed %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= animal.age %>
  </div>

  <div>
    <strong>Intake date:</strong>
    <%= animal.intake_date %>
  </div>

  <div>
    <strong>Adopted:</strong>
    <%= animal.adopted %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= animal.notes %>
  </div>

</div>
